PUBLIC_CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_URL=
CLOUDINARY_FOLDER=klipstudio
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
SANITY_API_VERSION=2025-01-01
SANITY_READ_TOKEN=
SANITY_WRITE_TOKEN=
