---
import { homeContent } from '../data/homeContent';
---

<section class="flex min-h-[190px] items-center bg-[#ff0004] px-5 text-center md:min-h-[254px]">
  <p class="mx-auto max-w-[1231px] text-3xl italic leading-tight text-white md:text-[60px] md:leading-[75px]">
    {homeContent.cta}
  </p>
</section>
